body{
    background-color: rgb(40, 69, 76);
    color: white;
    text-align: center;
}

button {
    background-color: rgb(57, 139, 30);
    color: white;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 1vw;
    margin-right: 1vw;
    padding: 0.5vw;
}

button:disabled {
    background-color: white;
    color: black;
}

p{
    font-size: 5vw;
}


.parentDiv{
    background-color: rgb(55, 55, 135);
    height: 20%;
}

form div{
    margin: 1vw;
}