body{
    background-color: grey;
    color: white;
    text-align: center;
}

button {
    background-color: rgb(33, 114, 123);
    color: white;
    font-size: 2vw;
    font-weight: bold;
    border-radius: 1vw;
    margin-right: 1vw;
    padding: 1vw;
}

button:disabled {
    background-color: white;
    color: black;
}