body{
    align-items: center;
    align-content: center;
}

.main{
    background-color: cadetblue;
    align-items: center;
    text-align: center;
}

button {
    background-color: rgb(57, 139, 30);
    color: white;
    font-size: 3vw;
    font-weight: bold;
    border-radius: 50vw;
    margin-right: 1vw;
    padding: 0.5vw;
    width: 10vw;
}

button:disabled {
    background-color: white;
    color: grey;
}

p{
    font-size: 5vw;
}


.parentDiv{
    background-color: rgb(55, 55, 135);
    height: 20%;
}

form div{
    margin: 1vw;
}